.form-section {
  margin-bottom: 1.5rem;
}

.game-setting-box > .read-only .checkbox-option {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  pointer-events: none;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #2c2c40; /* soft contrast with #f0f0f5 */
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.checkbox-option {
  padding: 0.6rem 1rem;
  border-radius: 8px;
  background-color: #e0e0eb;
  color: #333;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkbox-option:hover {
  background-color: #d6d6e2;
}

.checkbox-option.selected {
  background-color: #4b3b78;
  color: white;
  font-weight: 600;
}

.form-section > .text-input{
  font-size: 1em; 
  color: #212529; 
  background-color: #ffffff; 
  border: 1px solid #ced4da;
  padding: 10px 14px; 
  border-radius: 5px; 
  outline: none;
  width: 100%; 
  box-sizing: border-box; /* Ensures padding and border don't expand total width */
}

.continue-button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #4b3b78;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.continue-button:hover {
  background-color: #372b5e;
}

.game-id-container {
 display: flex;
 align-items: center;
 gap: 10px;
}

.game-id-text {
  color: #2e2a47;
  font-weight: 600;
  margin: 0;
}

.game-id-text span {
  font-weight: bold;
}

.copy-button {
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  border: none;
  background-color: #e0e0eb;
  color: black;
  cursor: pointer;
  user-select: none;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px 10px; 
  cursor: pointer;
}

.copy-button:hover {
  background-color: #d6d6e2;
}

.copy-button.copied {
  background-color: #4b3b78;
  color: white;
  cursor: default;
}

.delete-button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #c53030;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover state gets slightly darker to provide feedback */
.delete-button:hover {
  background-color: #a32727;
  border-color: #7f1d1d;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); /* Subtle lift effect */
}

/* Active state simulates the button being pressed */
.delete-button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}