name: Django CI

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.10.12
      uses: actions/setup-python@v4
      with:
        python-version: 3.10.12

    - name: Install Dependencies
      working-directory: backend
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Tests and Generate Coverage
      working-directory: backend
      run: |
        coverage erase
        coverage run --source=backend backend/manage.py test
        coverage xml
        coverage report
        coverage html

    - name: Get Cover
      uses: orgoro/coverage@v3.2
      with:
        coverageFile: backend/coverage.xml
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload coverage artifacts
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: |
          backend/coverage.xml
          backend/htmlcov
